.github-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.github-button img {
    width: 40px;
    height: 40px;
}